.check-in-form {
	margin-bottom: 1em;

	.checkin-error {
		font-weight: normal;
		color: red;
	}

	.general-note {
		min-height: 2em;
	}

	.form-field {
		margin-bottom: 1em;

		label {
			span {
				margin-left: 0.5em;
			}
		}

		select {
			width: 100%;
		}
	}

	input[type="submit"] {
		width: 45%;
		margin-right: 5%;
	}

	.action-link {
		display: inline-block;
		width: 45%;
	}
}
