.check-in-form {
  margin-bottom: 1em; }
  .check-in-form .checkin-error {
    font-weight: normal;
    color: red; }
  .check-in-form .general-note {
    min-height: 2em; }
  .check-in-form .form-field {
    margin-bottom: 1em; }
    .check-in-form .form-field label span {
      margin-left: 0.5em; }
    .check-in-form .form-field select {
      width: 100%; }
  .check-in-form input[type="submit"] {
    width: 45%;
    margin-right: 5%; }
  .check-in-form .action-link {
    display: inline-block;
    width: 45%; }

/*# sourceMappingURL=check-in.css.map */